@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* COMMON STYLES */
  .centered{
    @apply  relative 
            flex
            flex-row
            justify-center
            mb-5
  }
  .scrollBox{
    @apply  relative
            h-40
            bg-scroll
            bg-contain
            overflow-auto
  }

  .background{
    @apply  fixed
            h-screen 
            w-screen 
            bg-gradient-to-tr 
            from-teal-600 
            to-green-400
  }

  .clickableItem{
    @apply  cursor-pointer
            hover:underline
  }

  .commonTitle{
    @apply  text-3xl 
            justify-start
            text-cyan-50 
            font-bold
            txtShadw
  }

  .commonSubtitle{
    @apply  text-xl 
            justify-start
            text-cyan-50 
            font-bold
            txtShadw
  }

  .franken{
    @apply  text-3xl 
            justify-start
            text-cyan-50 
            font-bold
  }

  .franken2{
    @apply  text-3xl 
            justify-start
            text-green-900 
            font-extrabold
  }

  .ruletteButton{
    @apply bg-red-400
            flex
            rounded-md
            h-28
            w-28
            items-center
            justify-center
  }

  .buttonStyle{
    @apply  shadow
            focus:outline-none 
            text-white
            font-bold 
            py-2 
            px-4 
            rounded-xl 
  }

  .commonCrate{
    @apply bg-sky-200
            rounded-2xl
            flex 
            flex-row 
            space-x-4 
            items-center
            pl-4
            pr-2
            h-14
  }

  .commonFont{
    @apply  text-indigo-700 
            text-lg
            font-bold         
  }

  .commonSubFont{
    @apply  text-indigo-700
            text-xs
            font-bold
  }

  /* FRIENDS */

  .friendsBox {
    @apply  absolute 
            h-screen
            flex 
            flex-col 
            justify-center
            pl-32
            pt-20
            pb-20
            space-y-2
            w-1/3
  }

  .friendsTitle {
    @apply  relative 
            flex 
            flex-row 
            h-auto 
            w-auto
  }

  .friendsSearch{
    @apply  relative
            p-2
            w-full
  }

  .friend{
    @apply  relative
            text-2xl
            mb-1
            text-blue-900
            font-bold
            bg-teal-500
            rounded
            border-white
            border-2
            flex
            min-w-full
  }

  /* STORIES */

  .storyBox{
    @apply  absolute
            flex
            justify-center
            w-screen
            pt-10
            row-start-auto
            grid
            grid-cols-1
            h-screen
            pb-32
  }
  .titleWrite{
    @apply  relative
            h-auto
            bg-transparent
            text-center
            mb-10
  }
  .storyWrite{
    @apply  relative
            border-blue-800
            border-4
            rounded-2xl
            text-center
  }

  /* YOUR STORIES*/

  .savedStory{
    @apply  relative
            bg-scroll
            bg-contain
            overflow-auto
            text-center
            mx-32
            h-auto
  }
}

@font-face {
  font-family: "ARIAL-BOLD";
  src: url("./fonts/arial_bold.ttf");
}

@font-face {
  font-family: "ARIAL-REGULAR";
  src: url("./fonts/arial_regular.ttf");
}

@font-face {
  font-family: "BANGERS-REGULAR";
  src: url("./fonts/bangers_regular.ttf");
}

@font-face {
  font-family: "GRADUATE";
  src: url("./fonts/graduate.ttf");
}


.txtShadw {
  text-shadow: 5px 4px green
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}