@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* COMMON STYLES */
  .scrollBox{
    @apply  relative
            h-48
            bg-scroll
            bg-contain
            overflow-auto
  }

  .background{
    @apply  fixed
            top-0
            left-0
            h-screen 
            w-screen 
            bg-gradient-to-tr 
            from-teal-600 
            to-green-400
  }

  .clickableItem{
    @apply  cursor-pointer
            hover:underline
  }

  .franken{
    @apply  text-3xl 
            justify-start
            text-cyan-50 
            font-bold
  }

  .franken2{
    @apply  text-3xl 
            justify-start
            text-green-900 
            font-extrabold
  }

  /*HEAD STYLES*/
  .divHead{
    @apply  fixed
            flex 
            flex-row 
            top-0
            left-0
            h-auto
            w-screen
            align-middle 
            bg-slate-900 
            shadow-lg
            items-center
            p-3
            pr-1
  }

  .crateGroupHead{
    @apply  flex
            flex-row
            justify-end
            pr-5
            pl-5
            space-x-3
            w-full
  }

  .crateHeadPicture{
    @apply  absolute 
  }

  .crateHeadText{
    @apply  absolute
            right-3
          text-white
            text-xl 
            text-center
            hover:underline
            font-bold
  }

  .crateHead{ 
    @apply  relative 
            flex
            flex-row
            items-center
            rounded-lg
            h-10
            w-56
            pl-3
            bg-gradient-to-r from-teal-600 to-green-400
  }

  /* FRIENDS */

  .friendsBox {
    @apply  absolute 
            h-screen
            flex 
            flex-col 
            justify-center
            pl-32
            pt-20
            pb-10
            space-y-2
            w-1/4
  }

  .friendsTitle {
    @apply  relative 
            flex 
            flex-row 
            h-auto 
            w-auto
  }

  .friendsSearch{
    @apply  relative
            p-2
            w-full
  }

  .friend{
    @apply  relative
            text-2xl
            mb-1
            text-blue-900
            font-bold
            bg-teal-500
            rounded
            border-white
            border-2
            flex
            min-w-full
  }
  /* STATISTICS */
  .statsBox{
    @apply  absolute 
            h-screen 
            flex 
            flex-col 
            justify-center
            pl-20
            space-y-2
  }

  .statsTitle{
    @apply  relative 
            flex 
            flex-row 
            h-auto 
            w-auto
  }
  
  .statsFriends{
    @apply  flex 
            flex-col
            bg-lime-900
            bg-opacity-20
            rounded-lg            
            px-3 py-4
            space-y-4
  }
  
  .statsOneFriend{
    @apply  flex 
            flex-row
            items-center 
  }

  .personNameStats{
    @apply  w-40 
            franken
  }

  .starsStats{
    @apply  w-32 
            franken
  }

  .ruletteButton{
    @apply bg-red-400
            flex
            rounded-md
            h-16
            w-16
            items-center
            justify-center
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}